%h1.text-center= @category.name

- @questions.each do |question|
  - if question.active?
    = render partial: 'questions/item/active', locals: {question: question}
  - else
    = render partial: 'questions/item/closed', locals: {question: question}
