%h1.text-center= @category.name

- @questions.each do |question|
  .question-item
    .question-title= question.title
    .question-text= question.text
    = render 'answers/form', answer: question.answers.new
