%h1{style: "text-align: center; color: white;"} Последние события

#events_feed_container
  - @events.each do |event|
    #event_container
      #event-top
        - if event.type == 'new_question'
          %span{style:"color: green;"}
            Новый вопрос&nbsp
        - else
          %span{style:"color: red;"}
            Вопрос закрыт&nbsp
        - s = event.question.text
        - s = s.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 80);ob << (" " + x)}.strip
        - if s != event.question.text
          - s = s + '...'
        = link_to s, category_questions_path(event.question.category)
      #event-category
        = link_to event.question.category.name, category_path(event.question.category)
      #event-date
        = event.created_at.strftime('%e.%m.%Y %H:%M')

  = will_paginate @events, renderer: BootstrapPagination::Rails

