%h1.text-center Категории

.row
  - @categories.each do |category|
    .col-sm-6.col-md-4.category_item
      %a{:href=> category_questions_path(category)}
        .category_name=category.name
        %img.category_image{:src => category.image}
